
.dropdown-item-color{
	color: red;
}

svg{
	margin-right: 5px;
}

.navbar-brand svg{
	fill: black;
}

.nav-item .btn svg{
	fill: white;
}

.brandcolor{
	color: black;
}

.nav svg{
	margin-left: 10px;
}
